input[type="range"]::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    width: 18px;
    height: 18px;
    background: white;
    border: 3px solid #309898;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    z-index: 3;
    transform: translateY(-30%);
}