<div class="my-4 border py-4 px-5 rounded-md bg-white w-[300px] shadow-md">
    <ecom-title 
      subtitle="Filter"
    />
  {{filters() | json}}
    @if(filtersComponent().includes('keyword')) {
      <ecom-filter-keyword 
        [keyword]="filters().keyword"
        (onChangeKeyword)="onChangeKeyword($event)"
      />
    }
    @if(filtersComponent().includes('availability')) {
      <ecom-filter-availability 
        [availability]="filters().quantity"
        (onChangeAvailabilty)="onChangeAvailabilty($event)"
      />
    }
    @if(filtersComponent().includes('brand')) {
      <ecom-filter-brand
        [brands]="brands()"
        [totalBrandsElements]="totalBrandsElements()"
        [brandsSelected]="brandsSelected()"
        (onLoadMore)="onLoadMoreBrands()"
        (onChangeBrands)="onChangeBrands($event)"
        (searchBrands)="onSearchBrands($event)"
      />
    }
    @if(filtersComponent().includes('category')) {
      <ecom-filter-category />
    }
    @if(filtersComponent().includes('price')) {
      <ecom-filter-price />
    }
</div>