<div class="relative mt-5 mb-3" 
  ecomDropdown
  #dropdownReview="ecomDropdown">
  <div class="flex justify-between items-center">
    <p>Reviews</p> 
    @if(categoriesSelected.length>0) {
      <button 
        (click)="resetCategorySelected()"
        class="text-sm text-gray-400">
        Reset
      </button>
    }
  </div>
  <button
    (click)="dropdownReview.toggleDropdown()"
    class="border border-gray-200 px-2 py-1 placeholder:text-main-color placeholder:text-xs focus:outline-2 focus:outline-main-color border-1 shadow-md rounded-md my-1 w-full flex justify-between items-center">
    <span>Choose Your Review</span>
    <i class="fa-solid fa-chevron-down"></i>
  </button>
  <div
    [@dropDownAnimation]="dropdownReview.isOpen ? 'open': 'closed'" 
    class="hidden dropdown-menu absolute w-full left-0 top-[105%] bg-white z-30 border rounded-sm">
    @if(false) {
      <ecom-loading 
        size="xs"
      />
    }
    @else {
      <ul class="h-40 overflow-y-auto">
        @for(row of stars; track row; let idx=$index) {
            <div class="flex gap-1 py-1 hover:bg-main-color hover:text-white hover:rounded-sm px-2 cursor-pointer">
                <div>
                    @for(star of stars; track star) {
                        @if(star>=row) {
                            <i class="fa-solid fa-star text-yellow-300"></i>
                        }
                        @else {
                            <i class="fa-solid fa-star text-gray-400"></i>
                        }
                    }
                </div>
                <span>{{idx+1}} stars</span>
            </div>
        }
    </ul>
    }
    </div>
</div>