<div class="mt-5 mb-3">
    <p>Review</p>
    <button
        ecomDropdown
        class="relative my-1 w-full flex justify-between items-center border px-2 py-1 rounded-sm border-main-color">
      <span class="flex-1 text-left">All</span>
      <i class="fa-solid fa-chevron-down"></i>
        <div 
            class="dropdown-menu absolute left-0 top-[120%] bg-white h-32 w-full overflow-auto flex flex-col gap-3 border rounded-sm px-2 border-main-color hidden">
            @for(row of stars; track row; let idx=$index) {
            <div class="flex gap-1">
                <div>
                    @for(star of stars; track star) {
                        @if(star>=row) {
                            <i class="fa-solid fa-star text-yellow-300"></i>
                        }
                        @else {
                            <i class="fa-solid fa-star text-gray-400"></i>
                        }
                    }
                </div>
                <span>{{idx+1}} stars</span>
            </div>
            }
        </div>
    </button>
</div>