<div
    ecomNoScroll
    class="overflow-y-auto overflow-x-hidden fixed z-50 justify-center items-center w-full md:inset-0 max-h-full bg-[#000000]/80">
    <div class="bg-white rounded-lg shadow-sm px-5 py-2 relative w-full max-w-2xl max-h-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
        <button
            class="absolute right-3 text-gray-400 bg-transparent hover:bg-main-color hover:text-white rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
            <i class="fa-solid fa-xmark text-xl"></i>
       </button>
        <p class="text-lg text-main-color">Search</p>
        <div
            class="mt-6 flex flex-col gap-3">
            <div class="relative">
                <input
                    (change)="onSearch($event)"
                    type="text" 
                    class="w-full border border-gray-200 px-2 py-1 placeholder:text-xs focus:outline-2 focus:outline-main-color border-1 shadow-md rounded-md">
                <button type="button" class="absolute right-0 top-1/2 -translate-y-1/2 text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm me-1"><i class="fa-solid fa-magnifying-glass text-lg"></i></button>
            </div>
        </div>
        <div class="grid grid-cols-3 mt-3 space-x-3 space-y-2">
            @for(product of products(); track product.id) {
                <div class="border rounded shadow-sm px-1 flex flex-col items-center">
                    <img 
                        class="h-32 w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-110 rounded-lg" 
                        [src]="product.coverImage" />
                    <p class="w-full">{{product.name}}</p>
                    <p class="text-main-color w-full mt-auto">$ {{product.price}}</p>
                </div>
            }            
        </div>
        <nav class="flex justify-center mt-3">
            <ul class="flex items-center h-10 text-base">
                <li>
                    <a 
                        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                </li>
                @for(paginate of productsPagiation(); track paginate) {
                    <li class="cursor-pointer">
                        <a
                            (click)="onChangePage(paginate)"
                            [ngClass]="paginate === compareProductsResource.value().data.page ? 'bg-main-color': 'bg-white text-gray-500'"
                            class="flex items-center justify-center px-4 h-10 leading-tight border border-gray-300 hover:bg-main-color hover:text-black">
                            {{paginate+1}}
                        </a>
                    </li>
                }
                <li>
                    <a
                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
</div>
