<div
    class="alert fixed z-20 right-0 bottom-0 bg-teal-100 rounded-b text-teal-900 px-4 py-3 shadow-md" (animationend)="onAnimationEnd($event)">
    <div class="flex items-center justify-center">
        <div class="mr-4 ">
            <i class="fa-solid fa-info h-6 w-6 border border-teal-900 rounded-full text-teal-900 flex items-center justify-center"></i>
        </div>
        <div>
            <p class="font-bold">{{message()}}</p>
            @if(link()) {
                <a class="underline" [routerLink]="[link()!.url]">{{link()?.title}}</a>
            }
        </div>
    </div>
</div>
