<nav class="sticky z-50 top-0 h-24 bg-white navbar drop-shadow-md w-full">
    <div class="flex h-full items-center justify-between px-5 mx-auto">
        <div class="flex ">
            <!--logo-->
            <a class="flex items-center space-x-3">
              <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
              <span class="self-center text-2xl font-semibold whitespace-nowrap">Dummy E-Shop</span>
            </a>
            <!--input search-->
            <div class="flex">
                <input type="text" />
                <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="text-gray-500 bg-white hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2.5 me-1">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
            </div>
        </div>
        <ul class="ml-auto flex items-center gap-5 justify-between font-medium">
            <li>
                <a routerLink="/" class="rounded-sm hover:text-main-color">Home</a>
            </li>
            <li>
                <button 
                    (click)="showCategories = !showCategories"
                    class="flex items-center rounded-sm hover:text-main-color">
                    Categories 
                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
            </li>
            @if(user() === null) {
                <li class="flex gap-1">
                    <a routerLink="/login" class="rounded-sm hover:text-main-color">Login</a>
                    /
                    <a routerLink="/signup" class="rounded-sm hover:text-main-color">Register</a>
                </li>
            }            
            @if(user() !== null) {
                <li 
                    ecomDropdown
                    #dropdownUser="ecomDropdown"
                    class="relative">
                    <button 
                        (click)="dropdownUser.toggleDropdown()"
                        class="py-1 ps-1 pe-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                        <img 
                            class="w-8 h-auto rounded-full" 
                            [src]="'http://localhost:8080/file/user/'+user()?.filePath" />
                        <span class="font-medium truncate max-w-30">{{user()?.username}}</span>
                        <i class="fa-solid fa-chevron-down text-xs"></i>
                    </button>
                    <ul class="dropdown-menu absolute left-0 top-full mt-1 w-full bg-white border shadow-md rounded-md flex flex-col hidden">
                        <li 
                            [routerLink]="['/favorites']"
                            class="flex justify-between px-2 py-1 items-center cursor-pointer hover:bg-main-color rounded-md">
                            Favorites
                            <i class="fa-regular fa-heart"></i>
                        </li>
                        <li class="px-2 py-1 cursor-pointer hover:bg-main-color rounded-md">
                           <button 
                            (click)="onLogout()"    
                            class="w-full flex items-center justify-between ">
                               Logout
                               <i class="fa-solid fa-right-from-bracket"></i>
                           </button>
                        </li>
                    </ul>
                </li>                  
            }
        </ul>
    </div>
    @if(showCategories) {
        <div class="border-gray-200 shadow-xs bg-gray-50 absolute top-full left-0 border-y w-full">
            @if(categoriesResource.isLoading()) {
            }
            @else {
                <ul class="bg-main-500 grid grid-rows-4 grid-cols-5 px-4 py-1 mx-auto">
                    @for(category of categoriesResource.value().data.data; track category.id) {
                        <li>
                            <a class="flex items-center p-3 gap-1 rounded-lg hover:bg-main-color cursor-pointer">
                                <img class="w-10 h-10" [src]="'http://localhost:8080/file/category/'+category.imagePath" />
                                <div class="font-semibold">{{category.title}}</div>
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    }
</nav>