<section class="bg-[#f4f4f4]">
    @if(reviewResource.isLoading()) {
        <ecom-loading />
    }
    @else {
        @let reviews = reviewResource.value().data.data;
            <div class="px-4 2xl:px-0">
                <div class="flex items-center gap-2">
                    <h2 class="text-2xl font-semibold text-gray-900">Reviews</h2>
                    <div class="mt-2 flex items-center gap-2 sm:mt-0">
                        <div class="flex items-center gap-0.5">
                        @for(currentStar of numberStar; track currentStar) {
                            @if(productDetailsService.avgReview()>=(currentStar+1)) {
                                <i class="w-4 h-4 fa-solid fa-star text-yellow-600"></i>
                            }
                            @else {
                                <i class="w-4 h-4 fa-solid fa-star text-gray-400"></i>
                            }                      
                        }
                        </div>
                        <p class="text-sm font-medium leading-none text-gray-500">
                            ({{productDetailsService.avgReview() | number}})
                        </p>
                        <a class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline">{{reviews.length}} reviews </a>
                    </div>
                </div>
                <div class="my-6 gap-8 sm:flex sm:items-start md:my-8">
                    <div class="shrink-0 space-y-4">
                        <p class="text-2xl font-semibold leading-none text-gray-900">{{productDetailsService.avgReview() | number}} out of 5</p>
                        <button type="button" class="mb-2 me-2 rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300">Write a review</button>
                    </div>
                    <div class="mt-6 min-w-0 flex-1 space-y-3 sm:mt-0">
                        @for(star of numberStar; track star) {
                        <div class="flex items-center gap-2">
                            <p class="w-2 shrink-0 text-start text-sm font-medium leading-none text-gray-900">{{star+1}}</p>
                            <i class="fa-solid fa-star text-yellow-600"></i>
                            <div class="h-1.5 w-80 rounded-full bg-slate-200">
                                <div class="h-1.5 rounded-full bg-yellow-600" [style.width.%]="reviews | starPercentage:star+1"></div>
                            </div>
                            <a href="#" class="w-8 shrink-0 text-right text-sm font-medium leading-none text-primary-700 hover:underline dark:text-primary-500 sm:w-auto sm:text-left">
                            {{reviews | starCount: star+1}} 
                            <span class="hidden sm:inline">reviews</span>
                            </a>
                        </div>
                        }
                    </div>
                </div>
                <!--Sort -->
                <div class="flex justify-end">
                    <div
                        ecomDropdown
                        #dropdownSortReview="ecomDropdown"
                        class="relative">
                        <button 
                        (click)="dropdownSortReview.toggleDropdown()"
                        type="button"                       
                        class="flex w-auto items-center justify-center bg-main-color gap-2 text-white px-6 py-2 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                            <i class="fa-solid fa-arrow-up-z-a -ms-0.5 me-2 h-4 w-4"></i>
                            Sort
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div          
                        class="hidden dropdown-menu absolute right-0 top-[110%] z-50 w-40 divide-y divide-gray-100 rounded-lg bg-white shadow">
                            <ul class="p-2 text-left text-sm font-medium text-gray-500">
                                <li>
                                    <a
                                    (click)="onChangeSort('id', 'desc')"
                                    class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900">
                                    Most Recent
                                    </a>
                                <li>
                                    <a 
                                    (click)="onChangeSort('id', 'asc')"
                                    class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900">
                                    Oldest First
                                    </a>
                                <li>
                                <a 
                                    (click)="onChangeSort('rating', 'desc')"
                                    class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900">
                                    Highest Rating
                                </a>
                                </li>
                                <li>
                                <a 
                                    (click)="onChangeSort('rating', 'asc')"
                                    class="group inline-flex w-full items-center rounded-md px-3 py-2 text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-900">
                                    Lowest Rating
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Reviews -->
                <div class="mt-3 flex flex-col gap-2">
                @for(review of reviews; track review.id) {
                    <div class="flex items-start rounded-md shadow-lg border border-white bg-slate-300 px-2 py-3">
                    <div class="flex-shrink-0">
                        <div class="inline-block relative">
                            <div class="relative w-16 h-16 rounded-full overflow-hidden border bg-white">
                                <img 
                                class="p-1.5 absolute top-0 left-0 w-full h-full bg-cover object-fit object-cover" 
                                [src]="'http://localhost:8080/file/user/'+review.userImage" alt="Profile picture">
                            </div>
                        </div>
                    </div>
                    <div class="ml-6">
                        <p class="flex items-baseline">
                            <span class="text-gray-600 font-bold">{{review.username}}</span>
                        </p>
                        <div class="flex gap-1 items-center mt-1">
                            @for(star of numberStar; track star) {
                                @if(review.rating>star) {
                                    <i class="w-4 h-4 fa-solid fa-star text-yellow-600"></i>
                                }
                                @else {
                                    <i class="w-4 h-4 fa-solid fa-star text-gray-400"></i>
                                }                      
                            }
                        </div>
                        <div class="mt-3">
                            <span class="font-bold">{{review.comment}}</span>
                        </div>
                    </div>
                    </div>
                }
                </div>
                <div class="mt-3 mb-1 flex justify-center">
                    <button 
                        type="button" 
                        class="bg-main-color flex gap-2 items-center text-white px-6 py-2 rounded-md hover:bg-second-color focus:outline-none focus:ring-2 focus:ring-second-color focus:ring-offset-2">
                        View more reviews
                    </button>
                </div>
            </div>
        
    }
</section>