@if(productDetailsResource.isLoading()) {
  <div class="mt-10">
    <ecom-loading size="sm" />
  </div>
}
@else {
  <div class="absolute top-0 left-0 w-full h-full z-10">
    <svg height="600px" width="100%">
      <rect x="0" y="0" width="1500" height="600" fill="#bde0fe"></rect>
      <path d="M0 443L50 441.3C100 439.7 200 436.3 300 437.8C400 439.3 500 445.7 600 456.5C700 467.3 800 482.7 900 476.8C1000 471 1100 444 1200 440.2C1300 436.3 1400 455.7 1450 465.3L1500 475L1500 601L1450 601C1400 601 1300 601 1200 601C1100 601 1000 601 900 601C800 601 700 601 600 601C500 601 400 601 300 601C200 601 100 601 50 601L0 601Z" 
      fill="#f3f4f6" stroke-linecap="round" stroke-linejoin="miter">
    </path>
    </svg>
  </div>
  <div class="mx-10">
    @let product = productDetailsResource.value().data;
    <div class="pt-5 relative">
        <div class="flex h-full justify-between overflow-hidden">
            <!-- Product Images -->
            <div class="z-20 w-full md:w-1/2 px-4 mb-8">
                <div class="border w-[300px] h-[300px] mx-auto rounded-md bg-slate-200 shadow-sm relative">
                  @if(product.quantity === 0) {
                    <span class="absolute left-0 bg-red-600 px-1">Not In Stock</span>
                  }
                  <img                       
                    [src]="product.images[currentImage]"
                    class="w-full h-full object-cover transition-transform duration-300 ease-in-out hover:scale-110 rounded-lg mb-4" id="mainImage">
                </div>
                <div class="flex gap-4 py-4 justify-center overflow-x-auto">
                  @for(image of product.images; track image; let idx = $index) {
                    <img
                      (click)="changeCurrentImage(idx)"
                      [ngClass]="idx===currentImage ? 'border opacity-100 shadow-sm': 'opacity-60 '"
                      [src]="image"
                      class="size-16 sm:size-20 object-cover rounded-md cursor-pointer hover:opacity-100 transition duration-300 border-main-color border-solid hover:border" />
                  }
                </div>
            </div>              
            <!-- Product Details -->
            <div class="z-20 w-full flex flex-col md:w-1/2 px-4">
                <ol class="relative flex items-center gap-2 mb-4">
                  <li class="inline-flex gap-1 items-center">
                    <a class="cursor-pointer flex items-center text-sm text-gray-500 hover:text-main-color">
                      Home                    
                    </a>
                    <i class="fa-solid fa-chevron-right text-xs text-gray-400"></i>
                  </li>
                  <li class="inline-flex gap-1 items-center">
                    <a class="cursor-pointer flex items-center text-sm text-gray-500 hover:text-main-color">
                      {{product.category}}
                    </a>
                    <i class="fa-solid fa-chevron-right text-xs text-gray-400"></i>
                  </li>
                  <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">
                    {{product.name}}
                  </li>
                </ol>            
                <h2 class="text-3xl font-bold mb-2">
                    {{product.name}}
                </h2>
                <div class="flex gap-3 mb-2">
                  <p class="text-gray-600">Brand: {{product.brand}}</p>
                  <p class="text-gray-600">SKU: {{product.sku}}</p>
                </div>
                <p class="text-gray-600 mb-2">Category: {{product.category}}</p>
                <p class="text-gray-600 mb-2">
                  In Stock: 
                  <span class="font-bold text-main-color">
                    {{product.quantity}}
                  </span>
              </p>
                <div class="flex items-center gap-3 mb-2">
                  <div class="my-4">
                    <span class="px-2 py-1 text-2xl text-main-color rounded border border-main-color font-bold mr-2">${{product.price}}</span>
                  </div>
                  <div class="flex gap-1 items-center">
                    @for(currentStar of numberStar; track currentStar) {
                      @if(productDetailsService.avgReview()>=(currentStar+1)) {
                        <i class="w-4 h-4 fa-solid fa-star text-yellow-600"></i>
                      }
                      @else {
                        <i class="w-4 h-4 fa-solid fa-star text-gray-400"></i>
                      }                      
                    }
                    <span class="ml-2 text-gray-600">    
                      {{productDetailsService.avgReview() | number:'1.0-2'}} ({{productDetailsService.reviewsResource.value().data.totalElements}} reviews)
                    </span>
                  </div>
                </div>
                <p class="text-gray-700 mb-6">
                  {{product.description}}
                </p>
                <div class="flex space-x-2">
                    <div class="flex items-center border-gray-100">
                      <input value="1" class="w-8 border h-full bg-white text-center text-xs outline-none rounded-l-md" type="number"  min="1" />
                      <div class="flex flex-col">
                        <span class="cursor-pointer border border-x-0 border-t-0 rounded-tr bg-gray-100 px-3 duration-100 hover:bg-main-color hover:text-blue-50">
                          +
                        </span>
                        <span class="cursor-pointer border border-x-0 border-t-0  rounded-br bg-gray-100 px-3 duration-100 hover:bg-main-color hover:text-blue-50">
                          - 
                        </span>                      
                      </div>
                    </div>
                    <button
                        (click)="onAddToCart(product)"
                        class="bg-main-color flex gap-2 items-center text-gray-900 px-6 py-2 rounded-md hover:bg-second-color focus:outline-none focus:ring-2 focus:ring-second-color focus:ring-offset-2">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Add to Cart
                    </button>
                    <button
                      (click)="toggleFavorite(product.id)"
                      class="bg-gray-200 flex gap-2 items-center text-gray-800 px-6 py-2 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                      <i
                        [ngClass]="product.isFavorite===true ? 'fa-solid':'fa-regular'" 
                        class="fa-heart text-md"></i>
                      Wishlist
                    </button>
                    <button class="bg-gray-200 flex gap-2 items-center text-gray-800 px-6 py-2 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
                      <i class="fa-solid fa-code-compare"></i>
                      Compare                  
                    </button>                      
                </div>
            </div>
        </div>
    </div>
    <ecom-reviews />
    @if(alert.show) {
      <ecom-alert 
        (showAlert)="alert.show= false"
        [message]="alert.message"
        [link]="
        alert.type==='favorite' ? 
          {title:'See Wishlist', url: '/favorites'}:
          {title:'See Cart', url: '/cart'}  
        "
      />
    }
    <!-- Simular Products -->
    <div class="pt-5 relative z-20">
      <ecom-title 
        title="Simular"
        subtitle="Products"
      />
      <div class="overflow-x-auto whitespace-nowrap py-4 relative">
        <button
          (click)="prev()" 
          class="absolute left-0 top-1/2 -translate-y-1/2 bg-main-color  text-white">
          <i class="fa-solid fa-chevron-left p-1"></i>
        </button>
        <button
          (click)="next()"  
          class="absolute right-0 top-1/2 -translate-y-1/2 bg-main-color text-white">
          <i class="fa-solid fa-chevron-right p-1"></i>
        </button>
        <div class="grid grid-cols-4 gap-4 px-2">
          @for (productSimular of visibleProducts; track productSimular) {
            <div class="w-full border rounded-sm bg-slate-200 shadow-md px-2 py-2">
              <img class="h-32 object-cover mx-auto" [src]="productSimular.coverImage" />
              <div class="mt-2">
                <p 
                  [routerLink]="['/products',  productSimular.slug]" 
                  class="text-sm font-medium truncate hover:underline cursor-pointer">{{ productSimular.name }}</p>
                <p class="text-main-color font-semibold">$ {{ productSimular.price }}</p>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}