<div>
    <p>Price</p>
    <div class="relative h-4 my-2" [formGroup]="formPrice">
      <input 
        formControlName="minPrice"
        class="absolute w-full left-0 top-0 appearance-none bg-transparent" 
        type="range" 
        [min]="minPrice" 
        [max]="maxPrice"
        [value]="minPrice"
      />
      <input
        formControlName="maxPrice"
        class="absolute w-full left-0 top-0 appearance-none bg-transparent" 
        type="range" 
        [min]="minPrice"
        [max]="maxPrice"
        [value]="maxPrice"
      />
      <div class="relative w-full h-2 rounded-md bg-zinc-400">
        @let minPricePourcentage = (formPrice.get('minPrice')?.value! * 100) / (maxPrice);
        @let maxPricePourcentage = 100-((formPrice.get('maxPrice')?.value! * 100) / (maxPrice));
        <div class="absolute h-2 top-0 rounded-md bg-main-color" 
          [style.left]="minPricePourcentage+'%'"
          [style.right]="maxPricePourcentage+'%'"></div>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="flex flex-col">
        <label>Min Price</label>
        <input type="text" class="border px-2 w-16" [value]="formPrice.get('minPrice')?.value" />
      </div>
      <div class="flex flex-col">
        <label>Max Price</label>
        <input type="text" class="border px-2 w-16" [value]="formPrice.get('maxPrice')?.value" />
      </div>  
    </div>
</div>