<div
    [@fadeInOut] 
    class="flex items-center p-4 mb-4 text-red-800 rounded-md border border-red-300 bg-red-50">
    <i class="fa-solid fa-circle-info w-4 h-4"></i>
    <div class="ms-3 text-sm font-medium">
        {{errorMessage}}
    </div>
    <button 
        (click)="errorMessage = ''"
        type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8">
        <i class="fa-solid fa-xmark"></i>
    </button>
</div>