<div class="relative mt-5 mb-3" 
  ecomDropdown
  #dropdownCategory="ecomDropdown">
  <div class="flex justify-between items-center">
    <p>Category</p> 
    @if(categoriesSelected.length>0) {
      <button 
        (click)="resetCategorySelected()"
        class="text-sm text-gray-400">
        Reset
      </button>
    }
  </div>
  <ul class="flex flex-wrap">
    @for(category of categoriesSelected; track category.id) {
      <li 
        class="w-auto mt-1 inline-flex justify-between items-center pl-1 me-2 text-xs font-medium bg-main-color">
        {{category.title}}
        <button
          (click)="onChangeSelectedCategory(category)"
          type="button"
          class="inline-flex bg-second-color items-center p-1 ms-2 text-xs rounded-xs">
          <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </li>
    }
  </ul>
  <button
    (click)="dropdownCategory.toggleDropdown()"
    class="border border-gray-200 px-2 py-1 placeholder:text-main-color placeholder:text-xs focus:outline-2 focus:outline-main-color border-1 shadow-md rounded-md my-1 w-full flex justify-between items-center">
    <span>Choose Your Category</span>
    <i class="fa-solid fa-chevron-down"></i>
  </button>
  <div
    [@dropDownAnimation]="dropdownCategory.isOpen ? 'open': 'closed'" 
    class="hidden dropdown-menu absolute w-full left-0 top-[105%] bg-white z-30 border rounded-sm px-2">
    <div class="bg-white rounded-md my-2 flex items-center relative">
      <input 
        #searchCategory
        class="w-full border pr-6 shadow-md rounded-md focus:outline-2 focus:outline-main-color" 
        type="text" 
        placeholder="Search..." 
        (input)="onSearchCategories(searchCategory.value)" />
      <i class="fa-solid fa-magnifying-glass text-gray-600 mr-2 bg-white absolute right-0 top-1/2 -translate-y-1/2"></i>
    </div>
    @if(categories.isLoading()) {
      <ecom-loading 
        size="xs"
      />
    }
    @else {
      <ul class="h-40 overflow-y-scroll">
        @for(category of categories.value().data.data; track category.id) {
          <li class="flex items-center gap-1">
            <input 
              [id]="category.id+'_'+category.title" 
              type="checkbox"
              [value]="category"
              [checked]="isCategorySelected(category.id)"
              (change)="onChangeSelectedCategory(category)"
            />
            <label [for]="category.id+'_'+category.title">{{category.title}} ({{category.productCounts}})</label>
          </li>
        }
      </ul>
      @if(categories.value().data.totalElements !== categories.value().data.data.length;) {
        <a 
        (click)="showMore()" 
        class="text-main-color cursor-pointer">
        Show more
      </a>
      }
    }
    </div>
</div>