<div class="mt-5 mb-3">
    <p>Category</p> 
    <button
      (click)="dropDownFilterCategory.toggle()"
      class="my-1 w-full flex justify-between items-center border px-2 py-1 rounded-sm border-[#2A9D8F]">
      <span class="flex-1 text-left">All</span>
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <div 
      [@dropDownAnimation]="dropDownFilterCategory.isOpen ? 'open':'closed'"
      ecomDropdown
      #dropDownFilterCategory="dropDownToggle"
      class="absolute bg-white z-30 border rounded-sm px-2 border-[#2A9D8F]">
      <div class="border rounded-sm my-2">
        <input class="px-2" type="text" placeholder="Search..." />
        <i class="fa-solid fa-magnifying-glass text-gray-600 mr-2"></i>
      </div>
      <ul>
        <li class="flex items-center gap-1">
          <input id="1" type="checkbox" />
          <label for="1">All (1)</label>
        </li>
        <li class="flex items-center gap-1">
          <input id="1" type="checkbox" />
          <label for="1">All (1)</label>
        </li>
        <li class="flex items-center gap-1">
          <input id="1" type="checkbox" />
          <label for="1">All (1)</label>
        </li>
      </ul>
      <span class="text-main-color">Show 10 more</span>
    </div>
</div>